@import "addons.scss";
@import "keyanalysis.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in keyanalysis.scss */
.keyanalysis {
  @include addons;
  @include keyanalysis;
}

#scrollstyleProfil {
	overflow: auto;
}

#scrollstyleItems {
	overflow: auto;
}

#scrollstyleSearch {
	overflow: auto;
}

#menu {
	min-height: 65px;
	max-height: 65px;
}

#titleLabel {
	border-radius: 0px 12px 0px 0px;
	border-right: 3px solid;
}

.bar rect {
  fill: seagreen;
}

.bar2 rect {
  fill: chocolate;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.bar2 text {
  fill: #fff;
  font: 10px sans-serif;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.axis path,
.axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
/*.x.axis path {
        display: none;
}*/
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.chartPanel {
	margin-top: 1%;
}

#chartsLayout {
	text-align: center;
	padding: 2%;
	padding-bottom: 8%;
}

.v-button {
	margin-left: 1%;
}

#uploadForm {
	padding: 1%;
}

#keyInput {
	margin: 1%;
    height: auto;
    padding: initial;
}

#listaLayout {
	overflow: hidden;
}

#chooseButton {
	margin-top: 5%;
	padding: initial;
	overflow: hidden;
	height: auto;
    padding: 1%;
}

#mainProfil {
	margin-top: 5%;
	margin-right: 2%;
	padding: initial;
	overflow: hidden;
	height: auto;
    right: 0px;
    position: absolute;
}

#loginButton {
	margin-top: 5%;
	margin-right: 2%;
	padding: initial;
	overflow: hidden;
	height: auto;
    padding: 1%;
    right: 0px;
    position: absolute;
}

#getTweetsButton {
	margin-top: 5%;
	padding: initial;
	overflow: hidden;
	height: auto;
    padding: 1%;
}

#downloadButton {
	right: 0px;
	position: absolute;
	margin-top: 5%;
	padding: initial;
	overflow: hidden;
	height: auto;
    padding: 1%;
}

#uploadButtonMenu {
	margin-top: 5%;
	margin-left: 10%;
	padding: initial;
	overflow: hidden;
	height: auto;
    padding: 1%;
}

.uploadButton {
	margin: 5%;
}

#compareButton {
	margin-top: 5%;
	padding: initial;
	overflow: hidden;
	height: auto;
    padding: 1%;
}

#lista {
	margin-top: 2%;
	padding: initial;
	overflow: hidden;
	height: auto;
    padding: 1%;
}

#progressBarLayout {
	margin: auto;
	width: 90%;
	padding: 2%;
	padding-bottom: 8%;
}

#notice {
	margin: auto;
	width: 60%;
	animation: getIn ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: getIn ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: getIn ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: getIn ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: getIn ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

#progressBar{
	margin: auto;
	width: 60%;
	padding: 2%;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
  animation: getIn ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: getIn ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: getIn ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: getIn ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: getIn ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes getIn{
  0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
  }
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes getIn{
  0% {
    opacity:0;
    -moz-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(30px,0px)  ;
  }
  80% {
    -moz-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes getIn {
  0% {
    opacity:0;
    -webkit-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(30px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes getIn {
  0% {
    opacity:0;
    -o-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(30px,0px)  ;
  }
  80% {
    -o-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes getIn {
  0% {
    opacity:0;
    -ms-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(30px,0px)  ;
  }
  80% {
    -ms-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

#noticeOut {
	margin: auto;
	width: 60%;
	animation: getIn ease 1s;
	animation: getOut ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: getOut ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: getOut ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: getOut ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: getOut ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

#progressBarOut{
  	margin: auto;
	width: 60%;
	padding: 2%;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
  animation: getOut ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: getOut ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: getOut ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: getOut ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: getOut ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes getOut{
  0% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    transform:  translate(-1000px,0px)  ;
  }
}

@-moz-keyframes getOut{
  0% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -moz-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -moz-transform:  translate(-1000px,0px)  ;
  }
}

@-webkit-keyframes getOut {
  0% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -webkit-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -webkit-transform:  translate(-1000px,0px)  ;
  }
}

@-o-keyframes getOut {
  0% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -o-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -o-transform:  translate(-1000px,0px)  ;
  }
}

@-ms-keyframes getOut {
  0% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -ms-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -ms-transform:  translate(-1000px,0px)  ;
  }
}